html {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: retrogression;
  src: url(assets/Retrogression-Regular.ttf) format('truetype');
}

@font-face {
  font-family: floozy;
  src: url(assets/Floozy__.ttf) format('truetype');
}

@font-face {
  font-family: angryfont;
  src: url(assets/Simbiot.ttf) format('truetype');
}

h1 {
  font-family: 'retrogression';
  text-align: center;
  font-size: 50px;
  color: #a60067;
}

body {
  background-color: #EFEBCE;
  font-family: 'floozy';
}

.angry {
  font-family: 'angryfont';
  text-align: center;
}

.seal {
  max-width: 350px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.us {
  max-width: 350px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.answerbuttons{
  text-align: center;
  word-spacing: 20px;
}
.links {
  text-decoration: none;
  font-size: 25px;
  color: #a60067;
  padding: 10px 20px;
  border: 2px solid #a60067;
  border-radius: 5px;
  background-color: #ee96ad;
  box-shadow: 0px 5px 0px 0px rgba(180, 176, 142, 0.5); 
  display: inline-block;
}

a:hover{
  color: #740148;
  border: 2px solid #740148;
  background-color: #ee96ad;
}
a:active{
  transform: translateY(5px);
  box-shadow: 0px 2px 0px 0px rgba(180, 176, 142, 0.5); 
}
