html {
  height: 100%
  width: 100%;
}
@font-face {
  font-family: retrogression
  src: url(../valentinesday/Font/Retrogression-Regular.ttf)
}

h1 {
  font-family: 'retrogression';
  text-align: center;
  font-size: 50px;
  color: #A3A380
}

body {
  background-color: #EFEBCE;
  background-image: url(../images/valentinesdaybackground.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.seal{
  max-width: 200px
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.answerbuttons{
  text-align: center;
  word-spacing: 20px;
  box-shadow: 0px 17px 0px 0px #B3B097 opacity(0.5);;
}

.links {
  text-decoration: none;
  color: #BB8588
  padding: 15px 25px;
  border: 2px solid #BB8588
  border-radius: 3px;
  background-color: #D8A48F;
}

a:hover{
  color: #BF676B;
  border: 2px solid #BF676B;
}

a:active{
  transform: translateY(7px)
  box-shadow: 0px 7px 0px 0px #B3B097 opacity(0.5);
}
